@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

img {
  max-width: 100%;
  vertical-align: top; }

*, *::before, *::after {
  box-sizing: border-box; }

body {
  font-family: "Noto Sans KR", sans-serif; }

.container {
  max-width: 1080px;
  margin: 0 auto; }

.main-banner {
  background-color: #3498db; }
  .main-banner .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 500px; }
  .main-banner .text {
    color: #fff; }
    .main-banner .text h2 {
      font-size: 38px;
      margin-bottom: 25px; }
    .main-banner .text p {
      font-size: 18px;
      margin-bottom: 30px; }
    .main-banner .text .btn-more {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 164px;
      height: 53px;
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
      border-radius: 4px;
      border: 2px solid #fff; }

.partner {
  background-color: #f7f8f9; }
  .partner .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px; }
    .partner .container .partner-item {
      padding: 0 23px; }
      .partner .container .partner-item:hover img {
        transition: 0.25s;
        opacity: 0.8; }
      .partner .container .partner-item img {
        height: 28px;
        opacity: 0.4; }

.amazing-features {
  padding: 80px 0;
  background-color: #fff; }
  .amazing-features .title-area {
    text-align: center;
    margin-bottom: 60px; }
    .amazing-features .title-area h3 {
      font-size: 32px;
      color: #222;
      margin-bottom: 15px; }
    .amazing-features .title-area p {
      font-size: 16px;
      color: #777;
      line-height: 1.7; }
  .amazing-features .row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    margin: 0 -15px; }
    .amazing-features .row .col {
      width: 33.33%;
      padding: 0 15px; }
      @media screen and (max-width: 768px) {
        .amazing-features .row .col {
          width: 50%; } }
      @media screen and (max-width: 420px) {
        .amazing-features .row .col {
          width: 100%; } }
  .amazing-features .item {
    text-align: center; }
    .amazing-features .item img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin-bottom: 20px; }
    .amazing-features .item h4 {
      font-size: 20px;
      color: #222;
      font-weight: 600;
      margin-bottom: 15px; }
    .amazing-features .item p {
      font-size: 15px;
      color: #777;
      line-height: 1.7; }

.latest-projects {
  padding: 80px 0;
  background-color: #393f43; }
  .latest-projects .title-area {
    text-align: center;
    margin-bottom: 60px; }
    .latest-projects .title-area h2 {
      font-size: 32px;
      color: #ddd;
      margin-bottom: 15px; }
    .latest-projects .title-area p {
      font-size: 16px;
      color: #bbbbbb;
      margin: 0px 0px 15px;
      line-height: 1.7; }
  .latest-projects .row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    margin: 0 -15px; }
    .latest-projects .row .col {
      width: 33.33%;
      padding: 0 15px; }
      @media screen and (max-width: 768px) {
        .latest-projects .row .col {
          width: 50%; } }
      @media screen and (max-width: 420px) {
        .latest-projects .row .col {
          width: 100%; } }
  .latest-projects .item {
    text-align: center; }
    .latest-projects .item img {
      width: 210px;
      height: 184px;
      border-radius: 5%;
      margin-bottom: 20px; }
    .latest-projects .item h3 {
      font-weight: 600;
      margin: 10px 0px 1px; }
      .latest-projects .item h3 a {
        color: #454545;
        font-size: 18px; }
    .latest-projects .item p {
      font-size: 15px;
      color: #7c8595;
      line-height: 1.7; }
  .latest-projects .portfolio-box {
    background-color: #fff;
    width: 210px;
    height: 104px; }
    .latest-projects .portfolio-box h3 {
      font-size: 18px;
      color: #454545; }
    .latest-projects .portfolio-box a {
      font-size: 18px;
      color: #454545; }

.fun-facts {
  background-color: #2F3539; }
  .fun-facts .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 202px; }
    .fun-facts .container .facts-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px; }
      .fun-facts .container .facts-item i {
        text-align: center;
        font-size: 40px;
        color: #3efff9;
        opacity: 0.9;
        margin-bottom: 10px; }
      .fun-facts .container .facts-item span {
        color: #dddddd;
        font-size: 28px; }
      .fun-facts .container .facts-item .facts-numbers {
        color: #dddddd;
        font-size: 28px; }
      .fun-facts .container .facts-item .facts-title {
        font-size: 15px;
        color: #bbbbbb;
        margin: 0px 0px 15px;
        font-style: italic; }

.amazing-features-second {
  padding: 80px 0;
  background-color: #fff; }
  .amazing-features-second .title-area {
    text-align: center;
    margin-bottom: 60px; }
    .amazing-features-second .title-area h2 {
      font-size: 32px;
      color: #2F362F;
      margin-bottom: 15px; }
    .amazing-features-second .title-area p {
      font-size: 16px;
      color: #7c8595;
      line-height: 1.7;
      margin-bottom: 15px; }
  .amazing-features-second .row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    margin: 0 -15px; }
    .amazing-features-second .row .col {
      width: 33.33%;
      padding: 0 15px; }
      @media screen and (max-width: 768px) {
        .amazing-features-second .row .col {
          width: 50%; } }
      @media screen and (max-width: 420px) {
        .amazing-features-second .row .col {
          width: 100%; } }
  .amazing-features-second .item {
    text-align: center; }
    .amazing-features-second .item img {
      width: 80px;
      height: 80px; }
    .amazing-features-second .item h3 {
      font-size: 20px;
      color: #2f362f;
      font-weight: 600;
      margin-top: 20px; }
    .amazing-features-second .item p {
      font-size: 15px;
      color: #7c8595;
      line-height: 1.7;
      margin: 0px 0px 15px;
      padding: 0px 10px; }

.clients-testimonials {
  padding: 90px 0;
  background-color: #3498DB;
  height: 633px; }
  .clients-testimonials .title-area {
    text-align: center;
    padding: 0px 15px; }
    .clients-testimonials .title-area h2 {
      font-size: 32px;
      color: #ffffff;
      margin-bottom: 15px; }
    .clients-testimonials .title-area p {
      font-size: 16px;
      color: #ffffff;
      line-height: 1.7;
      margin-bottom: 15px; }
  .clients-testimonials .row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    margin: 0 -15px; }
    .clients-testimonials .row .col {
      width: 33.33%;
      padding: 0 15px; }
      @media screen and (max-width: 768px) {
        .clients-testimonials .row .col {
          width: 50%; } }
      @media screen and (max-width: 420px) {
        .clients-testimonials .row .col {
          width: 100%; } }
  .clients-testimonials .item {
    text-align: center;
    position: relative;
    z-index: 100;
    margin: 30px 0;
    padding-bottom: 0;
    width: 100%; }
    .clients-testimonials .item .testimonials-box {
      background-color: #ffffff;
      padding: 30px;
      width: 360px;
      height: 190px;
      border-radius: 5px; }
      .clients-testimonials .item .testimonials-box p {
        width: 300px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        /* 세로 방향으로 배치 */
        -webkit-line-clamp: 5;
        /* 최대 5줄까지 표시 */
        overflow: hidden;
        /* 넘치는 부분은 숨김 처리 */
        text-align: left; }
      .clients-testimonials .item .testimonials-box .testimonials-arrows {
        width: 17px;
        height: 17px;
        background: none repeat scroll 0 0 #fff;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        display: block;
        left: 60px;
        bottom: 70px;
        position: absolute;
        z-index: 50;
        transform: rotate(45deg); }
    .clients-testimonials .item .author-info {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 293px;
      height: 41px;
      margin: 36px 0px 15px; }
      .clients-testimonials .item .author-info img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        padding: 4px;
        margin: 15px 15px 0px 25px;
        background: #ffffff; }
      .clients-testimonials .item .author-info .author-text {
        font-size: 16px;
        color: #ffffff;
        margin: 36px 0px 15px;
        white-space: nowrap;
        text-align: left; }
        .clients-testimonials .item .author-info .author-text .author-name {
          color: #ffffff;
          font-size: 16px;
          font-weight: bold;
          filter: contrast(315%); }
    .clients-testimonials .item h3 {
      font-size: 20px;
      color: #2f362f;
      font-weight: 600;
      margin-top: 20px; }
    .clients-testimonials .item p {
      font-size: 15px;
      color: #7c8595;
      line-height: 1.7;
      margin: 0px 0px 15px;
      padding: 0px 10px; }

.app-header .top-header {
  background-color: #343434;
  color: #fff; }
  .app-header .top-header .container {
    display: flex;
    justify-content: space-between; }
  .app-header .top-header .sns {
    display: flex; }
    .app-header .top-header .sns a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 41px;
      height: 41px;
      border-right: 1px solid #555;
      transition: 0.4s; }
      .app-header .top-header .sns a:hover.sns-twitter {
        background-color: #2c8eef; }
      .app-header .top-header .sns a:hover.sns-pinterest {
        background-color: #af0523; }
      .app-header .top-header .sns a:hover.sns-facebook {
        background-color: #011d8d; }
      .app-header .top-header .sns a:hover.sns-instagram {
        background-color: #6b0488; }
      .app-header .top-header .sns a:hover.sns-skype {
        background-color: #3682ce; }
  .app-header .top-header .contact {
    display: flex;
    gap: 30px; }
    .app-header .top-header .contact .contact-item {
      display: flex;
      align-items: center;
      gap: 8px; }
      .app-header .top-header .contact .contact-item i {
        font-size: 20px; }
.app-header .main-header {
  background-color: #fff; }
  .app-header .main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .app-header .main-header .logo img {
    width: 172px; }
  .app-header .main-header .gnb {
    display: flex;
    align-items: center;
    gap: 30px; }
    .app-header .main-header .gnb nav {
      display: flex;
      gap: 10px; }
      .app-header .main-header .gnb nav .nav-item .nav-link {
        display: flex;
        align-items: center;
        height: 85px;
        padding: 0 10px;
        text-transform: capitalize;
        font-weight: 500; }
    .app-header .main-header .gnb .btn-seo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 174px;
      height: 48px;
      font-size: 14px;
      border: 2px solid #3498DB;
      border-radius: 4px;
      transition: 0.4s;
      color: #3498DB;
      font-weight: 500; }
      .app-header .main-header .gnb .btn-seo:hover {
        background-color: #3498DB;
        color: #fff; }

/*# sourceMappingURL=style.css.map */
